nav .my-name{
    color: white;
    padding: 0 80px;
    font-family: 'Sansita Swashed', cursive;
    
}
body{
    background: url(assets/bak1n.jpg) no-repeat center center/cover;
}
/* ________________Aside________________ */
#side-container{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 94vh;
}
aside::before{
    content: "";
    background:url(assets/sideb.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .85;
    top: 0px;
    left: 0px;
    filter: blur(3px);
    -webkit-filter: blur(13px);
}
#main-image{
    height: 14rem;
    width: 13.5rem;
    border: transparent;
    border-radius: 2rem;
    margin: 1rem 2rem 4rem 0rem;
    box-shadow: 6px 4px rgba(226, 147, 115, 0.63);
}
.aside h2{
    font-family: 'Sansita Swashed', cursive;
    /* padding: 1rem 1rem; */
    margin: 0rem 0rem 1rem 0rem;
    font-size: 2.3rem;
}
.aside h3{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Sansita Swashed', cursive;
    font-size: 1rem;
    padding: 1rem 1rem;
}
.contact{
    margin: 10px 10px;
}

.contact a{
    padding: 10px 10px;
    /* margin: 10px 10px; */
}
.contact a img{
    height: 2rem;
    width: 2rem;
}



/* _____________Information section_______________ */
.information{
    width: 98vw;
  padding: 4vh 3vw;
  height: 100vh;
  display: inline-block;
  padding-left: 33vw;
  color: white;
}
.information h2{
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
}
.paras{
    font-size: 1.1rem;
}
.different{
    color: deepskyblue;
}


@media (min-width: 200px) and (max-width: 600px){
    #side-container{
        width: auto;
        margin: 15px 0px;
        position: relative;

    }
    #main-image{
        margin: 60px 20px 55px 0px;
    }
    .information{
        position: relative;
        display: inline-block;
        padding: 5vw 8vw;
    }
}
@media (min-width:600px) and (max-width: 1200px){
    #side-container{
        width: 47vw;
        

    }
    .information{
        padding-left: 50vw;
        width: ;
    }
}