.resume-build{
    width: auto;
    margin: 0 auto;
    /* padding: 20px; */
}
.resume-header{
    flex-direction: column;
}

.resume-section-text{
    padding: 0;
}
.resume-section-meta-right{
    float: left;
    border-left: 1px solid #e0e0e0;
    padding-left: 15px;
    text-align: right;
}