body{
    background: url("../assets/back2.jpg") repeat center center/cover;
}
/* header */
.myinfo{
    /* border: 2px solid red; */
    margin: 10px 10%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;

}
.navbar{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#mainsection{
    /* border: 2px solid; */
    color: white;
    margin: 10px 10% -10px 10%;
}
#resume-build{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(
        180deg
        , #a58629 50%, #2b71a0 50%);
}
section a{
    color: white;
    text-decoration: none;
}
section a:hover{
    font-weight: bold;
    color: white;
}
.navbar-nav{
    text-align: center;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.containers{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5rem;

}
.first{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;

}
#resume-button{
    color: #cec9cd;
    font-weight: bold;
}
.first h2, .second h2{
    font-weight: bold;
    background-color:#4d575f;
    color: white;
    padding: 1px 5rem;
}



#about{

}
.infolist{}
.infolist li{
    list-style: none;
}
.infolist li .infotitle{
    margin-right: 4px;
}
.infolist li .infovalue{
    width: 10px;
}
.infolist li span a{}



.uppersection .second{
    margin-left: 1rem;
    /* margin-top: 10px; */
}
.second h3{
    font-size: 1rem;
}
.second a{
    text-decoration: none;
}
.second{
    margin-top: 10px;
    width: 50%;
}

li{
    padding: 5px;
    margin: 5px;
}
/* Table */
table{

}
tr{}
td{
    padding: 7px 32px;
}

